.nav {
  display: flex;
  justify-content: space-between;
  color: white;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-left: 50px;

  &__items {
    display: flex;
    justify-content: space-around;
    width: 25%;
    font-size: 18px;
    font-weight: 400;
  }
  &__box {
    display: flex;
    align-items: center;
    margin-right: 50px;
    padding: 10px;
    background-color: white;
    color: black;
    font-size: 16px;
    font-weight: 700;
  }
}
